# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*

# environment variables
.env
.env.production
*.local

# macOS-specific files
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.sw?
*.tsbuildinfo
