@import 'tailwindcss' source('..');
@plugin '@tailwindcss/typography';

@import 'survey-core/defaultV2.fontless.min.css' layer(utilities);

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
